[package]
name = "better-api-semantics"
authors.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true
version.workspace = true

[lib]
path = "lib.rs"

[dependencies]

[dev-dependencies]
insta.workspace = true
